/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    padding: 20px 0;
}
.logo {
    max-width: 750px; /* Adjust the width as needed to make the image smaller */
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333;
    margin-bottom: 20px; /* Add space between h1 and button */
}

button {
    background-color: #A4252E;
    color: #fff;
    padding: 50px 75px; /* Increase button size */
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 45px; /* Increase button font size */
    
}
